/* ---------------------- */
/* BASICS */
/* ---------------------- */
body {
    background-color: #7f8c8d;
}

.banner {
    position: relative;
    width: 100%;
    max-width: 1024px;
    height: 300px;
    margin: 0 auto;
    background-color: #ecf0f1;
    box-shadow: 2px 2px 2px #2c3e50;
    overflow: hidden;
}

.banner__text {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 3px;
    width: 240px;
}

.shape {
    position: absolute;
    width: 40px;
    height: 40px;

    left: 50%;
}

/* ---------------------- */
/* ANIMATED ELEMETS */
/* ---------------------- */

.text--1 {
    left: 50%;
    transform: translate(-150px, 0);
    top: 10%;

    animation: one-moveDown 1s 1 both,
        moveLeft 1s 2.5s 1 both,
        hideInLeft--text 2s 9s 1 forwards;
}

.star {
    background-color: #3498db;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    transform: translate(70px, 0);
    top: 10%;

    animation: one-moveDown 1s 1 both,
        moveRight 1s 2.5s 1 both,
        change-color-star 1s 5s 1 forwards,
        hideInLeft--shape 2s 9s 1 forwards;
}

@keyframes one-moveDown {
    0% {
        top: -100%;
    }

    100% {
        top: 10%;
    }
}

.text--2 {
    left: 50%;
    transform: translate(-150px, 0);
    top: 30%;

    animation: two-moveDown 1s .5s 1 both,
        moveLeft 1s 3s 1 both,
        hideInRight--text 2s 9s 1 forwards;
}


.square {
    background-color: #16a085;
    transform: translate(70px, 0);
    top: 30%;
    animation: two-moveDown 1s .5s 1 both,
        moveRight 1s 3s 1 both,
        change-color-square 1s 6s 1 forwards,
        hideInRight--shape 2s 9s 1 forwards;
}

@keyframes two-moveDown {
    0% {
        top: -100%;
    }

    100% {
        top: 30%;
    }
}

.text--3 {
    left: 50%;
    transform: translate(-150px, 0);
    top: 50%;

    animation: three-moveDown 1s 1s 1 both,
        moveLeft 1s 3.5s 1 both,
        hideInLeft--text 2s 9s 1 forwards;
}

.hexagon {
    background-color: #c0392b;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transform: translate(70px, 0);
    top: 50%;
    animation: three-moveDown 1s 1s 1 both,
        moveRight 1s 3.5s 1 both,
        change-color-hexagon 1s 7s 1 forwards,
        hideInLeft--shape 2s 9s 1 forwards;
}

@keyframes three-moveDown {
    0% {
        top: -100%;
    }

    100% {
        top: 50%;
    }
}

.text--4 {
    left: 50%;
    transform: translate(-150px, 0);
    top: 70%;

    animation: four-moveDown 1s 1.5s 1 both,
        moveLeft 1s 4s 1 both,
        hideInRight--text 2s 9s 1 forwards;
}

.circle {
    background-color: #f39c12;
    border-radius: 50%;
    transform: translate(70px, 0);
    top: 70%;

    animation: four-moveDown 1s 1.5s 1 both,
        moveRight 1s 4s 1 both,
        change-color-circle 1s 8s 1 forwards,
        hideInRight--shape 2s 9s 1 forwards;
}

@keyframes four-moveDown {
    0% {
        top: -100%;
    }

    100% {
        top: 70%;
    }
}

/* Etap 2 */
@keyframes moveLeft {
    0% {
        left: 50%;
    }

    100% {
        left: 25%;
    }
}

@keyframes moveRight {
    0% {
        left: 50%;
    }

    100% {
        left: 75%;
    }
}

/* Etap 3 */
@keyframes change-color-star {
    0% {}

    100% {
        background-color: #8e44ad;
    }
}

@keyframes change-color-square {
    0% {}

    100% {
        background-color: #e67e22;
    }
}


@keyframes change-color-hexagon {
    0% {}

    100% {
        background-color: #f1c40f;
    }
}


@keyframes change-color-circle {
    0% {}

    100% {
        background-color: #2c3e50;
    }
}


/* Etap 4 */
@keyframes hideInLeft--text {
    0% {
        left: 25%;
    }

    100% {
        left: -75%;
    }
}

@keyframes hideInLeft--shape {
    0% {
        left: 75%;
    }

    100% {
        left: -25%;
    }
}

@keyframes hideInRight--text {
    0% {
        left: 25%;
    }

    100% {
        left: 125%;
    }
}

@keyframes hideInRight--shape {
    0% {
        left: 75%;
    }

    100% {
        left: 175%;
    }
}